# This file contains common pin mappings for the Fysetc CATALYST V1.0
# board. To use this config, the firmware should be compiled for the
# STM32F401 with "No bootloader" and Communication interface USB

# After running "make", run the following command to flash the board:
# dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin

## Voron Design VORON 0.2 
## FYSETC CATALYST V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section

## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0
# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include includes/print_start.cfg]
[include includes/homing.cfg]
[include includes/KAMP_Settings.cfg]

[exclude_object]

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
serial: /dev/serial/by-path/platform-fd840000.usb-usb-0:1:1.0
#restart_method: command

[autotune_tmc stepper_x]
motor: fysetc-35hsh7402-24b-60a
sg4_thrs = 140
[autotune_tmc stepper_y]
motor: fysetc-35hsh7402-24b-60a
sg4_thrs = 140
[autotune_tmc stepper_z]
motor: fysetc-42hsc1404b-200n8
[autotune_tmc extruder]
motor: fysetc-g36hsy4405-6d-80a


[printer]
kinematics: corexy
max_velocity: 600
max_accel: 15000
max_accel_to_decel: 3000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

#####################################################################
#      X/Y Stepper Settings   X=B   Y=A
#####################################################################

[stepper_x]
step_pin: PC12
dir_pin: !PC10                                                      
enable_pin: !PD2
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200                                       
#endstop_pin: ^PA3
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 80                                                    
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: PB3                                                       
driver_SGTHRS: 255                                                  # SGTHRS is overridden by tmc_autotune, setting to max as a safety check


[stepper_y]
step_pin: PC15
dir_pin: !PC13                                                       
enable_pin: !PA10
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200                                        
#endstop_pin: ^PA2
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 80                                                   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC14
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^PA9                                           
driver_SGTHRS: 255                                                  # SGTHRS is overridden by tmc_autotune, setting to max as a safety check

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB2
dir_pin: PC5	                                                    
enable_pin: !PB10
rotation_distance: 8                                               
microsteps: 64
endstop_pin: ^PA3
#position_endstop: 120
position_max: 120
position_min: -1.5
homing_speed: 20
second_homing_speed: 5.0
homing_retract_dist: 5.0

[tmc2209 stepper_z]
uart_pin: PC4
#tx_pin: PA2
#uart_address: 2
interpolate: False
# For FYSETC 42HSC1404B-200N8
run_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0                                             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB6
dir_pin: PB4	                
enable_pin: !PB7
full_steps_per_rotation: 200   
rotation_distance: 22.23      
gear_ratio: 50:10            
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC7
sensor_type: Generic 3950
sensor_pin: PC0
control: pid            # Do PID calibration
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397
min_temp: 0
max_temp: 270
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 5
pressure_advance: 0.3
pressure_advance_smooth_time: 0.04

[tmc2209 extruder]
uart_pin: PB5
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PB0
smooth_time: 3.0
min_temp: 0
max_temp: 120
control: pid                                                         # Do PID calibration after initial checks
pid_kp: 68.453
pid_ki: 2.749
pid_kd: 426.122

#####################################################################
# Fan Control
#####################################################################

[heater_fan hotend_fan]
# FAN1 Connector
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
# Print Cooling Fan: FAN0 Connector
pin: PA14
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010

[temperature_fan CM68_Fan]
pin: PA8
max_power: 1.0
min_temp: 10
max_temp: 100
kick_start_time: 0.5
off_below: 0.1
control: watermark
target_temp: 50
sensor_type: temperature_host


#####################################################################
# Temperature Sensor
#####################################################################

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
gcode_id: mcu

# This gets charted via the CM68 Fan
#[temperature_sensor CM68]
#sensor_type: temperature_host
#min_temp: 10
#max_temp: 100
#gcode_id: host

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PA0
gcode_id: chamber


#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#####################################################################
# Neopixel
#####################################################################

[neopixel board_rgb]
pin: PC9
chain_count: 35
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2



#####################################################################
#   Simple V0 Display
#####################################################################

[display]
lcd_type: sh1106
click_pin: ^!PA15
i2c_bus: i2c1a
i2c_mcu: mcu
encoder_pins: ^PC1, ^PC2
kill_pin: ^!PB12
vcomh: 60
x_offset: 2

[neopixel display_led]
pin: PC6
color_order: GRB
initial_RED: 0
initial_GREEN: 0.1
initial_BLUE: 0.4


#####################################################################
# Macros
#####################################################################
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
 
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    G91                            ; relative positioning                      


    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600    ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X110 Y110 F3600          ; park nozzle at rear
    M84


[gcode_macro LOAD_FILAMENT]
gcode:
   M109 T0 S240                   ; set extruder temp and wait 
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E30 F150                    ; prime nozzle with filament
   G1 E-5 F1800                  ; 
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M109 T0 S240                   ; set extruder temp and wait 
   M83                            ; set extruder to relative
   G1 E15 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; 
   G1 E-40 F1800                  ; 
   M82                            ; set extruder to absolute


[virtual_sdcard]
path: /home/linaro/printer_data/gcodes/

#####################################################################
#   ADXL345
#####################################################################

[adxl345]
cs_pin: PA4
spi_bus: spi1
axes_map: -x, -z, y
rate: 3200

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 75  # default is 75
probe_points:
    60, 60, 20

[input_shaper]
shaper_freq_x: 85.6
shaper_type_x: mzv
shaper_freq_y: 80.6
shaper_type_y: mzv

[menu __main __octoprint]
type: disabled

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 118.925
